/******
Buttons default to blue because they are most used.
Yellow buttons use the class 'dominant'. We need a better term for that.
******/
.btn{
	-webkit-appearance: none; /* remove iOS default button styles */
	-webkit-background-clip: padding-box; /* prevent background from bleeding through border */
	-moz-background-clip: padding-box;
	-ms-background-clip: padding-box;
	background-clip: padding-box;
	background-color:#003b64; 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(133,185,250,.5)), color-stop(3%,rgba(51,94,153,.5)), color-stop(100%,rgba(35,61,100,.5))); 
	background-image: -webkit-linear-gradient(top, rgba(133,185,250,.5) 3%,rgba(51,94,153,.5) 3%,rgba(35,61,100,.5) 100%);
	background-image:    -moz-linear-gradient(top, rgba(133,185,250,.5) 3%,rgba(51,94,153,.5) 3%,rgba(35,61,100,.5) 100%);
	background-image:     -ms-linear-gradient(top, rgba(133,185,250,.5) 3%,rgba(51,94,153,.5) 3%,rgba(35,61,100,.5) 100%) 100%);
	background:          linear-gradient(top, rgba(133,185,250,.5) 3%,rgba(51,94,153,.5) 3%,rgba(35,61,100,.5) 100%);
	border:2px solid #c3c4c4;
	border-radius:6px;
	color:#fff;
	cursor:pointer;
	display:inline-block; /* Be mindful of white space in markup for inline-block  */
	font:bold 12px/1.2 "Trebuchet MS", sans-serif; /* line-height set to 1.2 makes inputs and links align in height cross-browser */
	margin:0;
	padding:6px 8px;
	position:relative;
	text-decoration:none;
	text-transform:uppercase;
	-webkit-transition:background-color 150ms ease-in;
	-moz-transition:background-color 150ms ease-in;
	-ms-transition:background-color 150ms ease-in;
	transition:background-color 150ms ease-in;
	vertical-align: top;
}
/* remove extra padding in firefox on input items */
.btn::-moz-focus-inner {
    padding: 0;
    border: 0
}

.btn:hover{
	background-color:#1a63a6;
}

.btn:active{
	background-color:#011e33;
}

.btn.small{
	font-size:10px;
	padding:4px 6px;
}

.btn.dominant{
	background-color:#fff200; 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgb(254,253,217)), color-stop(3%,rgba(255,253,213,.8)), color-stop(100%,rgba(251,242,65,.5))); 
	background-image: -webkit-linear-gradient(top, rgb(254,253,217) 3%,rgba(255,253,213,.8) 3%,rgba(251,242,65,.5) 100%);
	background-image:    -moz-linear-gradient(top, rgb(254,253,217) 3%,rgba(255,253,213,.8) 3%,rgba(251,242,65,.5) 100%);
	background-image:     -ms-linear-gradient(top, rgb(254,253,217) 3%,rgba(255,253,213,.8) 3%,rgba(251,242,65,.5) 100%);
	background-image:         linear-gradient(top, rgb(254,253,217) 3%,rgba(255,253,213,.8) 3%,rgba(251,242,65,.5) 100%);
	color:#737474;
}

.btn.dominant:hover{
	background-color:#fff;
}

.btn.dominant:active{
	background-color:#e3c603;
}